
<!-- API: /api/tasks -->
<body>
    <ul id = "tasks">
    {{#each tasks}}
        <li class = "oneTask"><p class="text-center">{{this.name}}. Due: {{this.due}} State: {{this.state}}</p></li>
    {{/each}}
    </ul>
</body>