:root {
    --color1: #3468C0;
    --color2: #FBF9F1;
    --color3: #525CEB;
    --color4: #B4B4B3;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Onest', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.strike {
    text-decoration: line-through;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.button {
    border: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.none {
    display: none;
}


button {
    cursor: pointer;
    background-color: transparent;

}

#top-header {
    display: flex;
    justify-content: center;
    font-family: 'Onest', sans-serif;
}

#top-header ul {
    display: flex;
    align-items: center;
    gap: 1em;

}

#top-header ul li button {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 6px;
    border-radius: 12px;
    border: none;
    color: var(--color1);
}

li {

    list-style-type: none;

}

#tasks {
    width: 100%;
    padding: 0;
    max-height: 600px;
    overflow-y: scroll;
    border-bottom: 2px;
}

#main-footer {
    background-color: var(--color1);
    margin: 0;
    margin-top: 25px;
    padding: 20px 0;
    color: white;
}

.oneTask {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2px 8px;
    margin: 20px 0;
    border-radius: 12px;
}

#historial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 30px 10px;
}

@media screen and (min-width:480px) {

    #historial,
    .container {
        max-width: 480px;
    }

    #historial {
        padding: 30px 0;

    }
}

#historial>div {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);

}

#historial>div>div {
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}


#historial h3,
#historial p {
    margin: 0;
}

footer {
    position: relative;
}

#addTask {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    background-color: var(--color1);
    border: none;
    border-radius: 50%;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid var(--color2);
}

#newTask {

    position: fixed;
}

::backdrop {

    opacity: 0.75;
    background-image: var(--color4);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;

}
#newTask fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
.create-task-btn{
width: 100%;
background-color: var(--color1);
border-radius: 6px;
color: var(--color2);
padding: 5px 0;
margin: 10px 0;

}
#close-dialog{
    position: absolute;
    right:0.7em;
    top:0.7em;
    padding: 0;
    border: none;
    color: var(--color1);
}